<!DOCTYPE html>
<html>
  <head>
    <header>

    </header>
    <title>Page Title</title>
  </head>

  <body>
    <p>hello</p>
    <%= yield %>

    <nav>

    </nav>
    <footer></footer>
  </body>
</html>
